<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.apache.cordova.extractzip"
      version="0.1.0">
    <name>ExtractZip</name>
    <description>ExtractZip Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,unzip</keywords>
 
 
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ExtractZipFilePlugin">
                <param name="android-package" value="org.apache.cordova.extractzip.ExtractZipFilePlugin"/>
            </feature>
            <feature name="CreateZipFilePlugin">
                <param name="android-package" value="org.apache.cordova.extractzip.CreateZipFilePlugin"/>
            </feature>
        </config-file>
 
        <js-module src="www/ZipPlugin.js" name="ExtractZipFilePlugin">
            <clobbers target="window.extractzip" />
        </js-module>
        <js-module src="www/ZipPlugin.js" name="CreateZipFilePlugin">
            <clobbers target="window.extractzip" />
        </js-module>
        <source-file src="src/android/ExtractZipFilePlugin.java" target-dir="src/org/apache/cordova/extractzip" />   
     </platform>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CDVUnzipper">
                <param name="ios-package" value="CDVUnzipper" />
            </feature>
            <feature name="CDVZipper">
                <param name="ios-package" value="CDVZipper" />
            </feature>
        </config-file>


        <js-module src="www/ios/ZipPlugin.js" name="CDVUnzipper">
            <clobbers target="window.extractzip" />
        </js-module>


        <js-module src="www/ios/ZipPlugin.js" name="CDVZipper">
            <clobbers target="window.extractzip" />
        </js-module>
        
        <header-file src="src/ios/CDVUnzipper.h" />
        <source-file src="src/ios/CDVUnzipper.m" />
        <header-file src="src/ios/CDVZipper.h" />
        <source-file src="src/ios/CDVZipper.m" />
        <header-file src="src/ios/ZipArchive.h"/>
        <source-file src="src/ios/ZipArchive.mm" />
        <header-file src="src/ios/minizip/crypt.h" target-dir="minizip"/>
        <header-file src="src/ios/minizip/ioapi.h"  target-dir="minizip" />
        <source-file src="src/ios/minizip/ioapi.c"  target-dir="minizip" />
        <header-file src="src/ios/minizip/mztools.h"  target-dir="minizip" />
        <source-file src="src/ios/minizip/mztools.c"  target-dir="minizip" />
        <header-file src="src/ios/minizip/unzip.h"  target-dir="minizip" />
        <source-file src="src/ios/minizip/unzip.c"  target-dir="minizip"/>
        <header-file src="src/ios/minizip/zip.h"  target-dir="minizip"/>
        <source-file src="src/ios/minizip/zip.c"  target-dir="minizip"/>
        <framework src="libz.1.2.5.dylib"/>
    </platform>
</plugin>